<%- include("../partials/_header") %>

<!-- PROJECT -->
<div class="px-5 pt-1 pb-5">
  <div class="row">
    <div class="col-12 card shadow mx-auto mt-5 p-4">
      <h1 class="text-uppercase mt-5 text-dark text-center">
        Nouveau contact professionnel
      </h1>

      <hr class="border border-dark border-2 opacity-50" />

      <form action="/contact/add" class="card-body" method="post">
        <div class="mx-5">
          <!-- Ligne 1 -->
          <div class="row">
            <!-- Nom -->
            <div class="col-6">
              <label for="lastname" class="form-label text-dark">Nom:</label>
              <input
                aria-describedby="lastnameHelp"
                class="form-control"
                id="lastname"
                placeholder="Dupond"
                type="text"
                autofocus
              />
              <div id="lastnameHelp" class="form-text">
                <i>Un nom doit être compris entre 3 et 50 caractères</i>
              </div>
            </div>
            <!-- Prénom -->
            <div class="col-6">
              <label for="firstname" class="form-label text-dark"
                >Prénom:</label
              >
              <input
                type="text"
                class="form-control"
                id="firstname"
                aria-describedby="firstnameHelp"
                placeholder="Jean"
              />
              <div id="firstnameHelp" class="form-text">
                <i>Un prénom doit être compris entre 3 et 50 caractères</i>
              </div>
            </div>
          </div>
          <!-- Ligne 2 -->
          <div class="row my-4">
            <!-- Email -->
            <div class="col-6">
              <label for="email" class="form-label text-dark">Email:</label>
              <input
                aria-describedby="lastnameHelp"
                class="form-control"
                id="email"
                placeholder="j.dupond@mon_email.com"
                type="email"
              />
              <div id="lastnameHelp" class="form-text">
                <i>Vous devez saisir obligatoirement un email valide</i>
              </div>
            </div>
            <!-- Téléphone -->
            <div class="col-6">
              <label for="phone" class="form-label text-dark">Téléphone:</label>
              <input
                type="tel"
                class="form-control"
                id="phone"
                aria-describedby="phoneHelp"
                placeholder="0600000000"
              />
              <div id="phoneHelp" class="form-text">
                <i>Vous devez saisir un téléphone valide</i>
              </div>
            </div>
          </div>
          <!-- Ligne 3 -->
          <div class="row my-4">
            <!-- Industrie -->
            <div class="col-6">
              <label for="industry" class="form-label text-dark"
                >Téléphone:</label
              >
              <select
                class="form-select"
                id="industry"
                name="industry"
                aria-label="Default select empty"
                aria-describedby="industryHelp"
              >
                <option selected>...</option>
                <option value="informatique">Informatique</option>
                <option value="education">Education / Formation</option>
                <option value="sante">Corps médicale</option>
                <option value="industrie">Industrie</option>
              </select>
              <div id="industryHelp" class="form-text">
                <i>Vous devez saisir un élément dans la liste</i>
              </div>
            </div>
            <!-- Société -->
            <div class="col-6">
              <label for="society" class="form-label text-dark">Société:</label>
              <input
                aria-describedby="societyHelp"
                class="form-control"
                id="society"
                placeholder="Campus Numérique"
                type="text"
              />
              <div id="societyHelp" class="form-text">
                <i>Vous devez saisir un nom de société.</i>
              </div>
            </div>
          </div>
          <!-- Ligne 4 -->
          <div class="row">
            <!-- Numéro de rue -->
            <div class="col-2">
              <label for="number" class="form-label text-dark">N°</label>
              <input
                min="1"
                max="9999"
                type="number"
                name="number"
                id="number"
                class="form-control"
                aria-describedby="numberHelp"
                placeholder="777"
              />
              <div id="numberHelp" class="form-text">
                <i>Saisie un numéro</i>
              </div>
            </div>
            <!-- Type de rue -->
            <div class="col-2">
              <label for="typeStreet" class="form-label text-dark">Type:</label>
              <select
                class="form-select"
                id="typeStreet"
                name="typeStreet"
                aria-label="Default select empty"
                aria-describedby="typeStreetHelp"
              >
                <option selected>...</option>
                <option value="avenue">Avenue</option>
                <option value="chemin">Chemin</option>
                <option value="impasse">Impasse</option>
                <option value="rue">Rue</option>
              </select>
              <div id="typeStreetHelp" class="form-text">
                <i>Sélectionne un élément</i>
              </div>
            </div>
            <!-- Adresse -->
            <div class="col-6">
              <label for="addressHelp" class="form-label text-dark"
                >Adresse</label
              >
              <input
                type="text"
                name="addresse"
                id="address"
                class="form-control"
                aria-describedby="addressHelp"
                placeholder="Hector Berlioz"
              />
              <div id="addressHelp" class="form-text">
                <i>Saisie une adresse</i>
              </div>
            </div>
            <!-- Code Postal -->
            <div class="col-2">
              <label for="codePostal" class="form-label text-dark">Type:</label>
              <input
                min="1"
                max="99999"
                type="number"
                name="codePostal"
                id="codePostal"
                class="form-control"
                aria-describedby="codePostalHelp"
                placeholder="69001"
              />
              <div id="codePostalHelp" class="form-text">
                <i>Saisie un code postal</i>
              </div>
            </div>
          </div>

          <hr
            class="border border-dark border-2 opacity-50 w-75 my-5 mx-auto"
          />

          <!-- Ligne 5 -->
          <div class="row">
            <div class="d-grid gap-2 col-6 mx-auto">
              <button
                type="submit"
                id="new-contact-submit"
                class="btn btn-outline-primary btn-lg btn-block"
              >
                AJOUTER
              </button>
            </div>
          </div>
        </div>
      </form>
      <hr class="border border-dark border-2 opacity-50 my-5" />

      <!-- ERREUR MESSAGES -->
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul class="d-flex flex-column justify-content-start">
          <li>Error 1</li>
          <li>Error 2</li>
          <li>Error 3</li>
          <li>Error 4</li>
        </ul>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/_footer") %>
