<%- include("../templates/_header") %>

<!-- PROJET -->
<div class="p-5 text-center">
  <div class="col-12 card shadow mx-auto px-5">
    <h1 class="text-uppercase mt-5 text-secondary">Nom Prénom - label</h1>
    <hr class="border border-dark border-2 opacity-50 my-2" />

    <!-- Affichage de la carte de visite -->
    <div class="card-content">
      <div class="card-body">coucou</div>
    </div>
  </div>
</div>

<%- include("../templates/_footer") %>
